@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.info, .education, .experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left input, textarea {
  height: 30px;
  width: 200px;
  font-size: 16px;
  margin: 5px 0px 20px 0px;
  box-sizing: border-box;
}

.info h2, .education h2, .experience h2 {
  align-self: center;
}

.right {
  background-color: white;
  height: 700px;
  max-width: 600px;
  margin: 30px;
  flex: 1;
}

.left {
  margin: auto;
}

.buttons {
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
  height: 35px;
  width: 200px;
}

.buttons button {
  flex: 1;
  font-size: 16px;
  cursor: pointer;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.infoDisplay, .educationDisplay {
  padding-bottom: 20px;
  margin: 0 30px 20px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.39);
}

.school {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.school h4{
  margin: 0;
}

.left h2 {
  margin-bottom: 20px;
}

h1 {
  color: rgb(92, 91, 91);
}

.right h2, h3, h4, p {
  color: rgb(126, 125, 125);
}

.right p {
  font-size: 15px;
  text-align: justify;
}

.educationDisplay h2, .experienceDisplay h2{
  margin-bottom: 20px;
  color: rgb(92, 91, 91);
}

.experienceDisplay {
  padding-bottom: 20px;
  margin: 0 30px 20px;
}

.company {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.companyLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  max-width: 300px;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  min-width: 0;
}

.companyLeft h3, .companyLeft h4 {
  margin: 0;
}
